<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>tr</string>
	</array>
	<key>KMPBackendURL</key>
	<string>$(KMP_BACKEND_URL)</string>
	<key>KMPDemoAllowed</key>
	<string>$(KMP_DEMO_ALLOWED)</string>
	<key>KMPEnvironment</key>
	<string>$(KMP_ENVIRONMENT)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
</dict>
</plist>